body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.game-container {
    height: 700px;
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 15px;
}